{% extends "base.dj.html" %}
{% block body %}
    <h2>Councillors</h2>
    <table style="border: 1px solid">
        {% for councillor in councillors %}
        <tr>
            <td style="border: 1px solid">{{councillor.name}}</td>
            <td style="border: 1px solid">{{councillor.position}}</td>
            <td style="border: 1px solid">{{councillor.email}}</td>
            <td style="border: 1px solid">{{councillor.telephone}}</td>
        </tr>
        {% endfor %}
    </table>    
{% endblock %}
