{% extends "base.dj.html" %}
{% block body %}
    <h2>Documents</h2>
    <label for="document_type">Document Type</label>
    <select name="document_type">
        <option value="finances">Finances</option>
        <option value="minutes">Minutes</option>
        <option value="policies">Policies and Procedures</option>
        <option value="apm">APM</option>
        <option value="apcm">APCM</option>
    </select>
    <table>
        <tr>
            <th>Document</th>
            <th>Date Uploaded</th>
        </tr>
        {% for document in documents %}
        <tr>
            <td><a href="{{document.file}}" download>{{document.description}}</a></td>
            <td>{{document.uploaded.date}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
