{% extends "base.dj.html" %}
{% block body %}
    <h2>Documents</h2>
    <label for="document_type">Document Type</label>
    <select name="document_type">
        <option value="finances">Finances</option>
        <option value="minutes">Minutes</option>
        <option value="policies">Policies and Procedures</option>
        <option value="apm">APM</option>
        <option value="apcm">APCM</option>
    </select>
    <table>
        <tr>
            <th>Document</th>
            <th>Date Uploaded</th>
        </tr>
        <tr>
            <td><a href="documents">Financial Document July</a></td>
            <td>1st August 2022</td>
        </tr>
        <tr>
            <td><a href="documents">Financial Document June</a></td>
            <td>3rd July 2022</td>
        </tr>
        <tr>
            <td><a href="documents">Financial Document May</a></td>
            <td>2nd June 2022</td>
        </tr>
        <tr>
            <td><a href="documents">Financial Document April</a></td>
            <td>11th May 2022</td>
        </tr>
        <tr>
            <td><a href="documents">Financial Document March</a></td>
            <td>9th April 2022</td>
        </tr>
    </table>
{% endblock %}
